<!DOCTYPE html>
<html>
  <head>
    <title>My appointments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My appointments</h1>

    <div id="appointments-container">
      <p id="appointments-loading">Loading your appointments…</p>
      <p id="appointments-empty" class="hidden">No appointments yet.<br /><a href="/appointments/new">Book your first appointment</a></p>
      <ul id="appointments-list" class="hidden"></ul>
      <p id="appointments-error" class="hidden">We couldn't load your appointments. Please refresh the page.</p>
    </div>

    <p><a href="/">Home</a> | <a href="/appointments/new">Book another</a></p>

    <style>
      .hidden {
        display: none;
      }
      #appointments-list li {
        margin-bottom: 0.5rem;
      }
    </style>
    <script src="/javascripts/appointments.js" defer></script>
  </body>
  </html>


