<!DOCTYPE html>
<html>
  <head>
    <title>MedApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MedApp</h1>
    <p>Book and manage your medical appointments.</p>
    <p><a href="/appointments/new">Book an appointment</a></p>
    <p><a href="/appointments">My appointments</a></p>
    <p><a href="/auth/logout">Logout</a></p>
  </body>
</html>
